/* FONTS */
@font-face {
    font-family: "Cantarell";
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/Cantarell-ExtraBold.otf) format("otf");
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
@font-face {
    font-family: "Cantarell";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Cantarell-Bold.otf) format("otf");
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
@font-face {
    font-family: "Cantarell";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Cantarell-Regular.otf) format("otf");
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}

@font-face {
    font-family: "Cantarell";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Cantarell-Light.otf) format("otf");
    font-display: block;
}

section {
    padding: 80px 0;
}

nav {
    background: linear-gradient(90deg, #4a86cf, #613583 );
}

nav a {
    color: white;
}
.bg-light {
    background: #F6F5F4;
}
.thumbnail {
    margin-bottom: 0px;
    border: none;
    background-color: #f6f6f6;
}
.modal-footer {
    background: #241F31;
    color: white;
    font-weight: 700;
}

.m-t-2 {
    margin-top: 20px;
}
.m-t-5 {
    margin-top: 50px;
}
.m-b-2 {
    margin-bottom: 20px;
}

Body {
    font-family: Cantarell, sans-serif;
    font-size: 18px;
    padding-bottom: 15px;
    color: #241F31;

}

h1 {
    font-weight: 800;
    font-size: 280%;
    padding-bottom: 30px;
}

h2 {
    font-weight: 300;
    font-size: 260%;
}

h3 {
    font-weight: 800;
    font-size: 130%;
}

h4 {
    font-weight: 600;
    font-size: 100%;
}

header {
    margin-bottom: -110px;
}



/* Hero Image Styling */

section#hero {
    background: linear-gradient(90deg, #4a86cf, #613583 );
}

.heroimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}



/* Feature Text Block Styling */

section#featured {
    background: #3D3846;
}
section#featured h1 {
    color: white;
    text-align: center;
}

section#featured p {
    color: white;
    text-align: center;
}

.featurecolumns {
    margin-top: 100px;
}

.featurecolumns h2 {
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

.featurecolumns p {
    color: white;
    text-align: center;

}
.featurecolumns h3 {
    color: white;
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0 20px 0 20px;
}

.column img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    height: auto;
}

.featurebutton {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    max-width: 100%;
    background-color: #3584E4;
    border-radius: 8px;
    padding: 10px;
    border: none;
}

.featurebutton a {
    color: white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}



/* Timeline Styling */

.timeline {
    width: 100%;
    max-width: 1080px;
    position: relative;
}
.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(25% + 2px);
    bottom: 0px;
    width: 4px;
    background: #ddd;
}
.timeline:after {
    content: "";
    display: table;
    clear: both;
}
.entry {
    clear: both;
    text-align: left;
    position: relative;
}
.entry .title {
    margin-bottom: .5em;
    float: left;
    width: 25%;
    padding-right: 30px;
    text-align: right;
    position: relative;
}
.entry .title:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid salmon;
    background-color: #fff;
    border-radius: 100%;
    top: 15%;
    right: -8px;
    z-index: 99;
}
.entry .title h2 {
    margin: 0;
}
.entry .title h3 {
    margin-top: 10px;
    font-size: 110%;
}
.entry .body {
    margin: 0 0 3em;
    float: right;
    width: 75%;
    padding-left: 30px;
}
.entry .body p {
    line-height: 1.4em;
}
.entry .body p:first-child {
    margin-top: 0;
    font-weight: 400;
}
.entry .body ul {
    color: #aaa;
    padding-left: 0;
    list-style-type: none;
}
.entry .body ul li:before {
    content: "–";
    margin-right: .5em;
}
@media screen and (max-width: 520px) {
    .entry .body img {
        max-width: 100%;
    }
}
#facts dt {
    margin-top: 30px;
}
